$home-vertical-margin: 50px;

#app {
  margin: $home-vertical-margin 0;
}

.loading-animation {
  display: flex;
  height: calc(100vh - #{$home-vertical-margin * 2});
  justify-content: center;
  align-items: center;
  img {
    width: 500px;
    height: 500px;
  }
}

.card-container{
  width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-container.show{
  opacity: 1;
}

