.user-card {
  color: $white;
  padding: 1rem;
  // height: 300px;
  background-color: $dark;
  box-shadow: $shadow-dark;
  border: 2px solid $primary;
  border-radius: 4px;
  &__header {
    display: flex;
    align-items: center;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
  &__level {
    display: inline-block;
    background-color: $primary;
    font-size: $rem;
    padding: 0.25 * $rem 0.5 * $rem;
    border-radius: 4px;
    margin-left: 0.5 * $rem;
  }
  &__img {
    float: right;
  }
  &__level-progress {
    display: inline-block;
    font-size: 0.8*$rem;
    padding: 0.25 * $rem 0.5 * $rem;
    border: 1px solid $primary;
    width: 200px;
    text-align: center;
    margin-top: $rem;
    border-radius: 6px;
    position: relative;
    height: 1.7 * $rem;
    overflow: hidden;
    &__text{
      position: relative;
    }
    &__xp-bg {
      display: inline-block;
      background: $primary;
      height: 1.7 * $rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
