html {
  scroll-behavior: smooth;
}
// Common
.text-small {
  font-size: 0.7 * $rem;
}

a.color-on-hover {
  img {
    filter: grayscale(100%);
  }
  &:hover {
    background-color: $light !important;
    img {
      transition: all 0.3s ease-in-out;
      filter: grayscale(0);
    }
  }
}

.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

// Navbar
.logo {
  display: inline-block;
  font-size: 1.7 * $rem;
  font-family: 'Lobster', sans-serif;
  @include media-breakpoint-up(md){
    font-size: 2.4 * $rem;
  }
}

.navbar {
  font-size: 0.8 * $rem;
  @include media-breakpoint-up(md) {
    // @include media-up(map-get($grid-breakpoints, md)) {
    font-size: $rem;
  }
}
.navbar .navbar-nav .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5 * $rem;
  color: black;
}

.anchor-fix {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
}

// Main
.main {
    margin-top: $navbar-height;
    position: relative;
}

.gradient{
  :after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom(80deg, $white 30%, rgba($white, 0) ));
    background-color: $white;
    z-index: 1500;
      // clip-path: polygon(0 0, calc(320px + 10vw) 0, calc(450px + 15vw) 100%, 0% 100%);

    }

  }

  .mapouter{
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
  }

  .gmap_canvas{
    overflow: hidden;
    background: none;
    height: 500px;
    width: 600px;
  }
// Programs
