$rem: 16px;

$black: #000;
$primary: #00b0ec;
$success: #3bce90;
$secondary: #92a1a6;
$btn-border-radius: 2px;

// navbar adjustments
$navbar-light-color: rgba($black, 0.8);
$navbar-light-hover-color: rgba($primary, 0.9);
$navbar-light-active-color: $primary;
 