// Common
.text-small {
  font-size: 0.7 * $rem;
}

.color-on-hover {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: grayscale(0);
  }
}

.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

// Navbar
.logo {
  display: inline-block;
  height: 45px;
}

.navbar .nav-item > a {
  font-weight: 700;
  font-size: 0.7 * $rem;
  text-transform: uppercase;
  line-height: 1.5 * $rem;
}

.anchor-fix {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
}

// Main
main {
  padding-top: $navbar-height;
}

.main-img {
  width: 80%;
}

