.container {
  display: block;
  width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  display: block;
  float: right;
}

.float-left {
  display: block;
  float: left;
}

.clearfix {
  display: block;
  clear: both;
}

.d-grid{
  display: grid;
}