.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #000;
}

.bg-green {
  background: #a2ffa2;
}

.bg-grey {
  background: #e0e0e0;
}

.bg-blue {
  background: #a4a4ff;
}

.bg-red {
  background: #fdb6b6;
}

.example-container {
  border: 1px solid black;
  height: 300px;
  width: 600px;
  padding: 1rem;
}

.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}

.p-sticky{
  position: sticky;
}

.p-fixed{
  position: fixed;
}

.top-0{top: 0;}
.top-1{top: 1rem;}

.right-0{right: 0;}
.right-1{right: 1rem;}

.bottom-0{bottom: 0;}
.bottom-1{bottom: 1rem;}

.left-0{left: 0;}
.left-1{left: 1rem;}