/* Width and height */
.w-25{ width: 25%;}
.w-50{ width: 50%;}
.w-75{ width: 75%;}
.w-100{ width: 100%;}

.h-25{ width: 25%;}
.h-50{ width: 50%;}
.h-75{ width: 75%;}
.h-100{ width: 100%;}

/* Margins */
.m-0 { margin: 0;}
.my-0 { margin-top: 0; margin-bottom: 0;}
.mx-0 { margin-right: 0; margin-left: 0;}
.mt-0 { margin-top: 0;}
.mr-0 { margin-right: 0;}
.mb-0 { margin-bottom: 0;}
.ml-0 { margin-left: 0;}

.m-1 { margin: .25rem;}
.my-1 { margin-top: .25rem; margin-bottom: .25rem;}
.mx-1 { margin-right: .25rem; margin-left: .25rem;}
.mt-1 { margin-top: .25rem;}
.mr-1 { margin-right: .25rem;}
.mb-1 { margin-bottom: .25rem;}
.ml-1 { margin-left: .25rem;}

.m-2 { margin: .5rem;}
.my-2 { margin-top: .5rem; margin-bottom: .5rem;}
.mx-2 { margin-right: .5rem; margin-left: .5rem;}
.mt-2 { margin-top: .5rem;}
.mr-2 { margin-right: .5rem;}
.mb-2 { margin-bottom: .5rem;}
.ml-2 { margin-left: .5rem;}

.m-3 { margin: 1rem;}
.my-3 { margin-top: 1rem; margin-bottom: 1rem;}
.mx-3 { margin-right: 1rem; margin-left: 1rem;}
.mt-3 { margin-top: 1rem;}
.mr-3 { margin-right: 1rem;}
.mb-3 { margin-bottom: 1rem;}
.ml-3 { margin-left: 1rem;}

.m-4 { margin: 1.5rem;}
.my-4 { margin-top: 1.5rem; margin-bottom: 1.5rem;}
.mx-4 { margin-right: 1.5rem; margin-left: 1.5rem;}
.mt-4 { margin-top: 1.5rem;}
.mr-4 { margin-right: 1.5rem;}
.mb-4 { margin-bottom: 1.5rem;}
.ml-4 { margin-left: 1.5rem;}

.m-5 { margin: 3rem;}
.my-5 { margin-top: 3rem; margin-bottom: 3rem;}
.mx-5 { margin-right: 3rem; margin-left: 3rem;}
.mt-5 { margin-top: 3rem;}
.mr-5 { margin-right: 3rem;}
.mb-5 { margin-bottom: 3rem;}
.ml-5 { margin-left: 3rem;}

.m-auto { margin: auto;}
.my-auto { margin-top: auto; margin-bottom: auto;}
.mx-auto { margin-right: auto; margin-left: auto;}
.mt-auto { margin-top: auto;}
.mr-auto { margin-right: auto;}
.mb-auto { margin-bottom: auto;}
.ml-auto { margin-left: auto;}

/* Paddings */

.p-0 { padding: 0;}
.py-0 { padding-top: 0; padding-bottom: 0;}
.px-0 { padding-right: 0; padding-left: 0;}
.pt-0 { padding-top: 0;}
.pr-0 { padding-right: 0;}
.pb-0 { padding-bottom: 0;}
.pl-0 { padding-left: 0;}

.p-1 { padding: .25rem;}
.py-1 { padding-top: .25rem; padding-bottom: .25rem;}
.px-1 { padding-right: .25rem; padding-left: .25rem;}
.pt-1 { padding-top: .25rem;}
.pr-1 { padding-right: .25rem;}
.pb-1 { padding-bottom: .25rem;}
.pl-1 { padding-left: .25rem;}

.p-2 { padding: .5rem;}
.py-2 { padding-top: .5rem; padding-bottom: .5rem;}
.px-2 { padding-right: .5rem; padding-left: .5rem;}
.pt-2 { padding-top: .5rem;}
.pr-2 { padding-right: .5rem;}
.pb-2 { padding-bottom: .5rem;}
.pl-2 { padding-left: .5rem;}

.p-3 { padding: 1rem;}
.py-3 { padding-top: 1rem; padding-bottom: 1rem;}
.px-3 { padding-right: 1rem; padding-left: 1rem;}
.pt-3 { padding-top: 1rem;}
.pr-3 { padding-right: 1rem;}
.pb-3 { padding-bottom: 1rem;}
.pl-3 { padding-left: 1rem;}

.p-4 { padding: 1.5rem;}
.py-4 { padding-top: 1.5rem; padding-bottom: 1.5rem;}
.px-4 { padding-right: 1.5rem; padding-left: 1.5rem;}
.pt-4 { padding-top: 1.5rem;}
.pr-4 { padding-right: 1.5rem;}
.pb-4 { padding-bottom: 1.5rem;}
.pl-4 { padding-left: 1.5rem;}

.p-5 { padding: 3rem;}
.py-5 { padding-top: 3rem; padding-bottom: 3rem;}
.px-5 { padding-right: 3rem; padding-left: 3rem;}
.pt-5 { padding-top: 3rem;}
.pr-5 { padding-right: 3rem;}
.pb-5 { padding-bottom: 3rem;}
.pl-5 { padding-left: 3rem;}