// visual
html {
    scroll-behavior: smooth;
}

// colors
$muted-grey: #242424d2;

$theme-colors: (
    "primary": #ef7f1a,
    "secondary": #fecc00,
    "rb-dark": #2b2a29,
    "ylight": #fcf2bd,
    "ydark": #e9dfad,
);



.text-greyed{
    color: rgba(139, 139, 139, 0.966);
    font-weight: 300;
};


