*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn-muted, .btn-secondary, .btn-primary {
  display: inline-block;
  padding: 6.3px 9px;
  text-decoration: none;
  font-weight: 500;
  color: #292b2c;
  font-size: 14.4px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  transition: background-color 0.45s ease-in-out, box-shadow 0.3s ease-in-out;
  color: #f6f9fa;
}
.btn-muted:hover, .btn-secondary:hover, .btn-primary:hover {
  cursor: pointer;
  box-shadow: 1px 2px 4px #b1b1b17a, -1px 2px 4px #b1b1b17a;
  color: #ffffff;
  text-shadow: 1px 1px #b1b1b17a;
}

.btn-primary {
  background-color: #17bdf6;
}
.btn-primary:hover {
  background-color: #089ed2;
}

.btn-secondary {
  background-color: #653dac;
}
.btn-secondary:hover {
  background-color: #4f3086;
}

.btn-muted {
  background-color: #92a1a6;
}
.btn-muted:hover {
  background-color: #76898f;
}

.card {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.card__image-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.card__image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card__content {
  background: #ffffffd0;
  height: 100%;
  position: absolute;
  bottom: -100%;
  padding: 1rem;
  transition: all 0.6s ease-in-out;
}
.card__content__header {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}
.card__content__text {
  text-align: justify;
}
.card:hover > .card__content {
  bottom: 0;
}

.w-25 {
  width: 25%;
}

.h-25 {
  height: 25%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid-x-st-1 {
  grid-column-start: 1;
}

.grid-y-st-1 {
  grid-row-start: 1;
}

.grid-x-end-2 {
  grid-column-end: 2;
}

.grid-y-end-2 {
  grid-row-end: 2;
}

.grid-x-st-2 {
  grid-column-start: 2;
}

.grid-y-st-2 {
  grid-row-start: 2;
}

.grid-x-end-3 {
  grid-column-end: 3;
}

.grid-y-end-3 {
  grid-row-end: 3;
}

.grid-x-st-3 {
  grid-column-start: 3;
}

.grid-y-st-3 {
  grid-row-start: 3;
}

.grid-x-end-4 {
  grid-column-end: 4;
}

.grid-y-end-4 {
  grid-row-end: 4;
}

.grid-x-st-4 {
  grid-column-start: 4;
}

.grid-y-st-4 {
  grid-row-start: 4;
}

.grid-x-end-5 {
  grid-column-end: 5;
}

.grid-y-end-5 {
  grid-row-end: 5;
}

.grid-x-st-5 {
  grid-column-start: 5;
}

.grid-y-st-5 {
  grid-row-start: 5;
}

.grid-x-end-6 {
  grid-column-end: 6;
}

.grid-y-end-6 {
  grid-row-end: 6;
}

.grid-x-st-6 {
  grid-column-start: 6;
}

.grid-y-st-6 {
  grid-row-start: 6;
}

.grid-x-end-7 {
  grid-column-end: 7;
}

.grid-y-end-7 {
  grid-row-end: 7;
}

.grid-x-st-7 {
  grid-column-start: 7;
}

.grid-y-st-7 {
  grid-row-start: 7;
}

.grid-x-end-8 {
  grid-column-end: 8;
}

.grid-y-end-8 {
  grid-row-end: 8;
}

.grid-x-st-8 {
  grid-column-start: 8;
}

.grid-y-st-8 {
  grid-row-start: 8;
}

.grid-x-end-9 {
  grid-column-end: 9;
}

.grid-y-end-9 {
  grid-row-end: 9;
}

.grid-x-st-9 {
  grid-column-start: 9;
}

.grid-y-st-9 {
  grid-row-start: 9;
}

.grid-x-end-10 {
  grid-column-end: 10;
}

.grid-y-end-10 {
  grid-row-end: 10;
}

.grid-x-st-10 {
  grid-column-start: 10;
}

.grid-y-st-10 {
  grid-row-start: 10;
}

.grid-x-end-11 {
  grid-column-end: 11;
}

.grid-y-end-11 {
  grid-row-end: 11;
}

.grid-x-st-11 {
  grid-column-start: 11;
}

.grid-y-st-11 {
  grid-row-start: 11;
}

.grid-x-end-12 {
  grid-column-end: 12;
}

.grid-y-end-12 {
  grid-row-end: 12;
}

.grid-x-st-12 {
  grid-column-start: 12;
}

.grid-y-st-12 {
  grid-row-start: 12;
}

.grid-x-end-13 {
  grid-column-end: 13;
}

.grid-y-end-13 {
  grid-row-end: 13;
}

.container {
  display: block;
  padding: 0 18px;
  margin: auto;
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 732px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 956px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1164px;
  }
}

.grid-areas-grid-pro {
  display: grid;
  height: 100vh;
  padding: 3rem 0.5rem;
  grid-template-columns: 2fr 5fr 11fr;
  gap: 3rem;
  grid-template-rows: 1fr;
  text-align: center;
}
.grid-areas-grid-pro h2 {
  margin: 0.5rem 0;
  height: 36px;
}
.grid-areas-grid-pro__header {
  grid-area: header-start/header-start/header-end/header-end;
  background: #0f1629;
  color: #fff;
}
.grid-areas-grid-pro__menu {
  grid-area: menu-start/menu-start/menu-end/menu-end;
  background: #ef3c4f;
  color: #fff;
}
.grid-areas-grid-pro__hero {
  grid-area: hero-start/hero-start/hero-end/hero-end;
  background: #4c86c6;
  color: #fff;
}
.grid-areas-grid-pro__main {
  grid-area: main-start/main-start/main-end/main-end;
  background: #24344b;
  color: #fff;
}
.grid-areas-grid-pro__banner {
  grid-area: banner-start/banner-start/banner-end/banner-end;
  background: #ffd169;
  color: #000;
}
.grid-areas-grid-pro__extra {
  grid-area: extra-start/extra-start/extra-end/extra-end;
  background: #4dbd97;
  color: #000;
}
.grid-areas-grid-pro__image {
  grid-area: image-start/image-start/image-end/image-end;
  background: #c1e4e6;
  color: #000;
}
.grid-areas-grid-pro__blank {
  grid-area: blank-start/blank-start/blank-end/blank-end;
}
.grid-areas-grid-pro__grid {
  display: grid;
  height: calc(100% - 36px - 1rem);
}
.grid-areas-grid-pro__grid--mobile {
  grid-template-columns: [header-start menu-start hero-start main-start banner-start extra-start image-start] auto [header-end menu-end hero-end main-end banner-end extra-end image-end];
  grid-template-rows: [header-start] 1fr [header-end menu-start] 1fr [menu-end hero-start] 3fr [hero-end main-start] 3fr [main-end banner-start] 2fr [banner-end extra-start] 2fr [extra-end image-start] 2fr [image-end];
}
.grid-areas-grid-pro__grid--tablet {
  grid-template-columns: [header-start hero-start menu-start] 1fr [menu-end main-start banner-start extra-start] 2fr [extra-end image-start] 1fr [header-end hero-end main-end banner-end image-end];
  grid-template-rows: [header-start] 1fr [header-end hero-start] 4fr [hero-end menu-start main-start] 4fr [main-end banner-start] 2fr [banner-end extra-start image-start] 2fr [menu-end extra-end image-end];
}
.grid-areas-grid {
  display: grid;
  height: 100vh;
  padding: 3rem 0.5rem;
  grid-template-columns: 2fr 5fr 11fr;
  gap: 3rem;
  grid-template-rows: 1fr;
  text-align: center;
}
.grid-areas-grid h2 {
  margin: 0.5rem 0;
  height: 36px;
}
.grid-areas-grid__header {
  grid-area: header;
  background: #0f1629;
  color: #fff;
}
.grid-areas-grid__menu {
  grid-area: menu;
  background: #ef3c4f;
  color: #fff;
}
.grid-areas-grid__hero {
  grid-area: hero;
  background: #4c86c6;
  color: #fff;
}
.grid-areas-grid__main {
  grid-area: main;
  background: #24344b;
  color: #fff;
}
.grid-areas-grid__banner {
  grid-area: banner;
  background: #ffd169;
  color: #000;
}
.grid-areas-grid__extra {
  grid-area: extra;
  background: #4dbd97;
  color: #000;
}
.grid-areas-grid__image {
  grid-area: image;
  background: #c1e4e6;
  color: #000;
}
.grid-areas-grid__grid {
  display: grid;
  height: calc(100% - 36px - 1rem);
}
.grid-areas-grid__grid--mobile {
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
  grid-template-areas: "header" "menu" "hero" "main" "banner" "extra" "image";
}
.grid-areas-grid__grid--tablet {
  grid-template: "header header header" 1fr "hero   hero   hero" 4fr "menu   main   main" 4fr "menu   banner banner" 2fr "menu   extra  image" 2fr/1fr 2fr 1fr;
}
.grid-areas-grid__grid--desktop {
  grid-template: "header menu   menu   menu" 1fr "hero   hero   hero   hero" 5fr "main   main   .      image" 2fr "main   main   .      extra" 2fr "banner banner banner banner" 2fr/1fr 1fr 1fr 1fr;
}

.grid-cards {
  display: grid;
  width: 1002px;
  height: 890px;
  grid-template-columns: 125px 75px 225px 75px 2px 75px 225px 75px 125px;
  grid-template-rows: 40px 75px 225px 75px 60px 75px 225px 75px 40px;
  margin: 5rem auto;
  background-color: #f7f7f7;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  background: #fffb;
  padding: 1.5rem;
  font-size: 0.8rem;
  user-select: none;
  position: relative;
  overflow: hidden;
}
.card-content * {
  position: relative;
  z-index: 5;
}
.card-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, #fff0, #fff);
  background-size: 400% 400%;
  transition: all 0.6s ease-in-out;
}
.card-content:hover:before {
  background-position: 100% 100%;
}
.card-content:hover .card-content__title:after {
  width: 50%;
}
.card-content__date {
  text-transform: uppercase;
  font-size: 0.75em;
}
.card-content__title {
  margin: 0;
  text-transform: capitalize;
}
.card-content__title:after {
  content: "";
  display: block;
  margin: 0.5em 0;
  height: 0.15em;
  width: 25%;
  background: #333;
  transition: all 0.3s ease-in-out;
}
.card-content__link {
  text-transform: uppercase;
  font-size: 0.6em;
  color: #aaa;
  font-weight: 700;
  text-decoration: none;
}
.card-content__link:hover {
  text-decoration: underline;
}

.grid-main {
  display: grid;
  width: 1500px;
  height: 1200px;
  margin: 54px auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 54px;
}
.grid-main__task {
  display: inline-grid;
  gap: 4.5px;
}
.grid-main__task > * {
  background-color: #7d08dd;
}
.grid-main__task--1, .grid-main__task--2, .grid-main__task--3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-main__task--4 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.grid-main__task--5 {
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
}
.grid-main__task--6 {
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 2fr 1fr 1fr;
}
.grid-main__task--7 {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.grid-main__task--8 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
}
.grid-main__task--9 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
}
.grid-main__task--10 {
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
}
.grid-main__task--11 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 4fr 1fr;
}
.grid-main__task--12 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}
.grid-main__task--13 {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.grid-main__task--14 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.grid-main__task--15 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid-main__task--16 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 2fr 1fr 1fr;
}
.grid-main__task--17 {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.grid-main__task--18 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr 1fr 2fr;
}
.grid-main__task--19 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}
.grid-main__task--20 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 2fr);
}

.grid-desert {
  background-color: #29343d;
  display: grid;
  margin: 54px auto;
  padding: 0.5rem;
  height: 490px;
  width: 690px;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
}
.grid-desert__peach {
  background-image: linear-gradient(to right top, #feedab, #fb7eb3);
}
.grid-desert__electric {
  background-image: linear-gradient(to right top, #70c1fa, #79ebe0);
}
.grid-desert__electric-reverse {
  background-image: linear-gradient(to left bottom, #70c1fa, #79ebe0);
}
.grid-desert__vintage-barbie {
  background-image: linear-gradient(to right top, #cbabfb, #fb7ef6);
}
.grid-desert__vintage-barbie-reverse {
  background-image: linear-gradient(to right top, #cbabfb, #fb7ef6);
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-1 {
  margin: 4.5px;
}

.mt-1 {
  margin-top: 4.5px;
}

.mr-1 {
  margin-right: 4.5px;
}

.mb-1 {
  margin-bottom: 4.5px;
}

.ml-1 {
  margin-left: 4.5px;
}

.mx-1 {
  margin-left: 4.5px;
  margin-right: 4.5px;
}

.my-1 {
  margin-top: 4.5px;
  margin-bottom: 4.5px;
}

.p-1 {
  padding: 4.5px;
}

.pt-1 {
  padding-top: 4.5px;
}

.pr-1 {
  padding-right: 4.5px;
}

.pb-1 {
  padding-bottom: 4.5px;
}

.pl-1 {
  padding-left: 4.5px;
}

.px-1 {
  padding-left: 4.5px;
  padding-right: 4.5px;
}

.py-1 {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}

.m-2 {
  margin: 9px;
}

.mt-2 {
  margin-top: 9px;
}

.mr-2 {
  margin-right: 9px;
}

.mb-2 {
  margin-bottom: 9px;
}

.ml-2 {
  margin-left: 9px;
}

.mx-2 {
  margin-left: 9px;
  margin-right: 9px;
}

.my-2 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.p-2 {
  padding: 9px;
}

.pt-2 {
  padding-top: 9px;
}

.pr-2 {
  padding-right: 9px;
}

.pb-2 {
  padding-bottom: 9px;
}

.pl-2 {
  padding-left: 9px;
}

.px-2 {
  padding-left: 9px;
  padding-right: 9px;
}

.py-2 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.m-3 {
  margin: 18px;
}

.mt-3 {
  margin-top: 18px;
}

.mr-3 {
  margin-right: 18px;
}

.mb-3 {
  margin-bottom: 18px;
}

.ml-3 {
  margin-left: 18px;
}

.mx-3 {
  margin-left: 18px;
  margin-right: 18px;
}

.my-3 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.p-3 {
  padding: 18px;
}

.pt-3 {
  padding-top: 18px;
}

.pr-3 {
  padding-right: 18px;
}

.pb-3 {
  padding-bottom: 18px;
}

.pl-3 {
  padding-left: 18px;
}

.px-3 {
  padding-left: 18px;
  padding-right: 18px;
}

.py-3 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.m-4 {
  margin: 27px;
}

.mt-4 {
  margin-top: 27px;
}

.mr-4 {
  margin-right: 27px;
}

.mb-4 {
  margin-bottom: 27px;
}

.ml-4 {
  margin-left: 27px;
}

.mx-4 {
  margin-left: 27px;
  margin-right: 27px;
}

.my-4 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.p-4 {
  padding: 27px;
}

.pt-4 {
  padding-top: 27px;
}

.pr-4 {
  padding-right: 27px;
}

.pb-4 {
  padding-bottom: 27px;
}

.pl-4 {
  padding-left: 27px;
}

.px-4 {
  padding-left: 27px;
  padding-right: 27px;
}

.py-4 {
  padding-top: 27px;
  padding-bottom: 27px;
}

.m-5 {
  margin: 54px;
}

.mt-5 {
  margin-top: 54px;
}

.mr-5 {
  margin-right: 54px;
}

.mb-5 {
  margin-bottom: 54px;
}

.ml-5 {
  margin-left: 54px;
}

.mx-5 {
  margin-left: 54px;
  margin-right: 54px;
}

.my-5 {
  margin-top: 54px;
  margin-bottom: 54px;
}

.p-5 {
  padding: 54px;
}

.pt-5 {
  padding-top: 54px;
}

.pr-5 {
  padding-right: 54px;
}

.pb-5 {
  padding-bottom: 54px;
}

.pl-5 {
  padding-left: 54px;
}

.px-5 {
  padding-left: 54px;
  padding-right: 54px;
}

.py-5 {
  padding-top: 54px;
  padding-bottom: 54px;
}

/*# sourceMappingURL=main.css.map */
