<template>
  <button :class="'btn btn-primary' + (classname ? className + '' : '')">
    <span><home-icon size="xl"></span>
    <span>{{ text }}</span>
  </button>
</template>


<script>
import { HomeIcon } from "FontAwsome/icons";

export default {
  data: ["text", "className", "isLink"],
  components: {
    "home-icon": HomeIcon,
  },
};
</script>

