.table {
  width: 1200px;
  margin: auto;
  border-spacing: 0;
}

.table__head__row>th {
  padding: 0.5rem;
  border-bottom: 1px solid darkred;
}

.table__head__row:last-of-type>th{
  text-align: left;
}

.table__body__row>td{
  padding: 0.5rem;
}

.table__body__row:nth-of-type(2n){
  background: #fff7f7;
}