// Common
html {
    scroll-behavior: smooth;
}

.headers {
    font-family: "Arial Black", sans-serif;
    color: #ffce00;
}

// main

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #ffce00;
}

.main {
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(xl) {
        padding-top: 0;
        height: 90vh;
        &>.bg-dark-transparent {
        padding-top: 0;
        height: 90vh;
        }
    }
}

// Services
.card{
    &__photo {
        height: 200px;
        width: 200px;
        @include media-breakpoint-up(lg) {
            height: 108px;
            width: 108px;
        }
    }
}

.bg-dark-light1 {
    background: #666464;
}

#services{
    @include media-breakpoint-up(xl) {
        position: absolute;
        bottom: 19vh;
        right: 1.5 * $rem;
        width: 600px;
        background: rgba(255, 255, 255, 0);
    }
}

.bg-light1 {
    background: #f8f9fa;
    @include media-breakpoint-up(xl) {
        background: rgba(255, 255, 255, 0);
        border: none;
        color: #ffce00;
    }
}

.text-dark1 {
    color: #343a40;
    @include media-breakpoint-up(xl) {
        color: #ffce00;
    }
}
.btn-dark1 {
    background: #343a40;
    color: #ebffff;
    @include media-breakpoint-up(xl) {
        background: #ffce00;
        color: #343a40;
        &:hover {
        background: #bb9d23;
        }
    }
}

// Pricing

.border-white {
    border: 5px solid white;
}

.border-yellow {
    border: 5px solid $warning;
}

.border-blue {
    border: 5px solid $blue;
}

.border-green {
    border: 5px solid $success;
}


