html {
    scroll-behavior: smooth;
}
.navbar {
    & a {
        @include media-up(map-get($grid-breakpoints, lg)) {
            margin-left: 20%;
        }
    }
    z-index: 10;
    width: 100%;
    padding: $rem;
    background-image: linear-gradient($dark 50%, transparent 100%);
    & .navbar-nav {
        @include media-up(map-get($grid-breakpoints, md)) {

        }
        & .nav-link {
            @include media-up(map-get($grid-breakpoints, md)) {
                font-size: $rem * 1.2;
            }
        }
    }
}

main {
    background-image: url(/public/img/bg-img.jpg);
    background-repeat: no-repeat;
    background-color: $secondary;
    height: 700px;
    position: center;
    background-position: 40%;
    background-attachment: fixed;
    font-family: "Cormorant Garamond", serif;
    @include media-up(map-get($grid-breakpoints, md)) {
        background-position-x: center;
        background-position-y: top;
    }
}

.grid {
    display: grid;
    grid-template-rows: auto;
    gap: $rem * 1.5;
    @include media-up(map-get($grid-breakpoints, sm)) {
        grid-template-columns: 2fr 2fr;
        gap: $rem * 2;
    }
    @include media-up(map-get($grid-breakpoints, md)) {

    }
    @include media-up(map-get($grid-breakpoints, lg)) {
        grid-template-columns: 2fr 2fr 2fr;
    }
}

.card {
    width: 100%;
    border: none;
    border-radius: 10% 0% 10% 0%;
    box-shadow: 5px 5px 10px $dark;
    background-color: $light;
    &__image {
        overflow: hidden;
        @include media-up(map-get($grid-breakpoints, sm)) {
            height: $rem * 9;
        }
        @include media-up(map-get($grid-breakpoints, md)) {
            height: $rem * 13;
        }
    }
    &__image > * {
        width: 100%;
        height: inherit;
        object-fit: cover;
        pointer-events: none;
        border-radius: 10% 0% 10% 0%;
        border-bottom: 5px solid $dark;
        @include media-up(map-get($grid-breakpoints, md)) {
            pointer-events: all;
            border-radius: 0;
            border: none;
        }
    }
    &__image > *:hover {
        cursor: pointer;
    }
    &__text {
        width: 100%;
    }
        &__text-text {
            display: flex;
            padding-left: $rem;
            margin-top: $rem;
            margin-bottom: $rem;
            margin-left: auto;
            margin-right: auto;
            & > i {
                line-height: inherit;
                padding-left: 0.2* $rem;
                color: $dark;
                opacity: 0.8;
            }
        }
        &__text-header {
            text-align: center;
            width: 80%;
            padding: $rem;
            margin: auto;
            border-bottom: 1px solid rgba(160, 157, 157, 0.5);
        }
    & .modal-dialog {
        @include media-up(map-get($grid-breakpoints, lg)) {
            display: block;
            max-width: 65%;
            pointer-events: all;
        }
        & .modal-content { 
            & .modal-header {
            display: block;
            text-align: center;
            border: none;
            padding: 1rem 1rem 0 1rem;
            }
            & h5, button {
                font-size: $rem * 1.7;
                font-weight: 900;
            }
            & .modal-body {
                & .card__image {
                    height: auto;
                }
            }
        }
        & .modal-footer {
            border: none;
        }
    }
}

.contacts > * {
    @include media-up(map-get($grid-breakpoints, md)) {
        text-align: center;
    }
}

.icons > * {
    @include media-up(map-get($grid-breakpoints, lg)) {
        transform: scale(2);
        margin-left: $rem;
    }
    *:hover{
        color: $dark;
        transition: all 0.5s ease-in-out;
    }
}