.checkbox-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 1 * $rem;
    bottom: 2 * $rem;
    z-index: 1;
    padding: $rem;
    border-radius: .2 * $rem;
    background-color: #3787b6c2;
    color: #fff;
}

input {
    zoom: 1.5;
}

.critics-pick-icon {
    height: 3 * $rem;
}

