$app-margin: 1 * $rem 0;

#app {
    margin: $app-margin;
}

.all-cards-container {
    margin: 1 * $rem 3 * $rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &--show {
        opacity: 1;
    }
}

.no-more-results-msg {
    color: $primary-color;
    margin: $app-margin;
    text-align: center;
}

