.review-card {
    position: relative;
    padding: 2 * $rem;
    height: 100%;
    background-color: $white-color;
    box-shadow: $shadow;
    border-radius: .2 * $rem;

    &__header {
        height: 4 * $rem;
        display: flex;
        padding-bottom: $rem;
        justify-content: space-between;

        &__title {
            align-self: center;
            font-family: $main-font;
            color: $primary-color;
            font-size: .8 * $rem;
            font-weight: $lighter-font;
        }

        &__critics-pick-icon {
            height: 3 * $rem;
        }
    }

    &__multimedia {
        width: 100%;
        border-radius: .2 * $rem;
    }

    &__headline {
        padding: $rem 0 .6 * $rem;
        font-size: $rem;
        font-weight: $lighter-font;
        color: $secondary-color;
    }

    &__byline-and-separator-and-date-updated {
        display: flex;
        justify-content: flex-start;
    }

    &__byline,
    &__separator,
    &__date-updated {
        font-size: .8 * $rem;
        font-weight: $lighter-font;
        color: $secondary-color;
    }

    &__link {
        text-decoration: none;
        color: $secondary-color;

        :hover {
            color: $info-color;
            text-decoration: underline;
        }
    }

    &__summary-short {
        font-size: .9 * $rem;
        color: $primary-color;
    }

    &__space-for-span {
        height: 1.5 * $rem;
    }

    &__mpaa-rating {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 2 * $rem 2 * $rem 0;
        padding: .05 * $rem .6 * $rem .2 * $rem;
        font-size: .9 * $rem;
        color: $white-color;
        background-color: $warning-color;
        border-radius: .2 * $rem;

        &:empty {
            display: none;
        }
    }
}

.non-critics-pick--hidden {
    display: none;
}