$rem: 16px;

$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$bold-font: bold;
$lighter-font: lighter;

$primary-color: #165366;
$secondary-color: #164666;
$white-color: #fff;
$warning-color: #ce2121c2;
$info-color: #096792c2;
$page-bg-color: #f1e9e9;
$body-color: #07073d;
$shadow: 0 $rem $rem (.4 * $rem) #80808078;
