// text
//containers
.container-desk{
  background-image: url(../img/Capture-desk.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 50vh;
  padding-bottom: 250px;
  max-width: 100%;
}
.container-form{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  @include media-breakpoint-up(md){
    background-image: url(../img/form-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: right;
  }
}
.container-col-right-xl {
    width: 50%;
    background-color:$primary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container-fluid{
  background-color: #625f632d;
  
}
.container {
  margin: 0 auto;
}
.price-list{
  &__title{
    text-transform: uppercase;
    font-weight: 700;
    color: $warning;
  }
}
//btn
.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}
.btn.btn-secondary{
  background-color: $green;
  color: $white;
  border-radius: 10px;
}
.btn.btn-primary-2{
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
  display: inline-block;
  font-weight: 600;
  border-radius: 5px;
}
//============================================================
// Navbar
.logo {
  display: inline-block;
  height: 45px;
}
.navbar {
  font-size: 0.7 * $rem;
  @include media-breakpoint-up(md) {
    // @include media-up(map-get($grid-breakpoints, md)) {
      font-size: 1 * $rem;
    }
  }
  .navbar .navbar-nav .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5 * $rem;
    color: rgba($dark, 0.8);
  }
  .nav-item {
    margin-left: $rem;
    text-transform: uppercase;
    font-size: $rem;
  }
  .anchor-fix {
    padding-top: $navbar-height;
    margin-top: -$navbar-height;
  
  }
//============================================================
// styles text
h1{
  font-family:$font2;
  text-transform: uppercase;
  color: $header-color;
  font-size: 10 * $rem;
  // font-size:  * $rem;
}; 
ul, .tm{
  font-family:$font1;
  color: $primary;
}
.shop-style{
  font-family:$font1;
  color: $primary;
  &__card-text{
    font-family:$font2;
    color: $success;

  }

}
.text-small {
  font-size: 0.7 * $rem;
}
.arrows-left{
  justify-content: left;
  text-align: left;
}
.arrows-right{
  justify-content: right;
  text-align: right;
}
//============================================================
// Main
main {
  padding-top: $navbar-height;
}
//============================================================
// Programs
.border-md-right {
  @include media-breakpoint-up(md) {
    border-right: 1px solid $gray-300;
  }
}
//============================================================
//footer  
  footer {
      @include media-breakpoint-up(sm){
        .map-r{
          border-radius: 10% 35%;
          width: 80%;
          height: 80%;
        }
      }
      @include media-breakpoint-up(md){
       .map-md{
        border-radius: 50%;
        width: 80%;
        height: 80%;
      }
    }
}
//============================================================