// Margin and padding spacings
$rem: 18px;
$spacers: (
  "0": 0,
  "1": 0.25 * $rem,
  "2": 0.5 * $rem,
  "3": $rem,
  "4": 1.5 * $rem,
  "5": 3 * $rem,
);

// Fonts
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
"Helvetica Neue", sans-serif;

// Brekpoints
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

// Colors
$white: #ffffff;
$light: #f6f9fa;
$dark: #292b2c;
$primary: #17bdf6;
$secondary: #653dac;
$muted: #92a1a6;
$shadow: #b1b1b17a;

// Component colors
$component-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "muted": $muted,
);

