// Common
html{
  scroll-behavior: smooth;
}
.text-small {
  font-size: 0.7 * $rem;
}

a.color-on-hover {
  img {
    filter: grayscale(100%);
  }
  &:hover {
    background-color: $light !important;
    img {
      transition: all 0.3s ease-in-out;
      filter: grayscale(0);
    }
  }
}

.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

// Navbar
.logo {
  display: inline-block;
  height: 45px;
}

.navbar {
  font-size: 0.7 * $rem;
  box-shadow: 0 1px 1px rgba($dark, 0.2);
  @include media-breakpoint-up(md) {
    // @include media-up(map-get($grid-breakpoints, md)) {
    font-size: $rem;
  }
}
.navbar .navbar-nav .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5 * $rem;
  color: rgba($dark, 0.8);
}

.anchor-fix {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
}

// Main
.main {
  padding-top: $navbar-height;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-image: linear-gradient(80deg, $white 30%, rgba($white, 0) );
    background-color: $white;
    clip-path: polygon(0 0, calc(320px + 10vw) 0, calc(450px + 15vw) 100%, 0% 100%);
  }
  
  @include media-breakpoint-up(xl) {
    padding-top: 0;
    height: 90vh;
    &__carousel-content{
      position: absolute;
      display: flex;
      align-items: center;
      width: 450px;
      top: 0;
      left: calc(-8rem + 12vw) ;
      bottom: -5px;
      z-index: 15000;
    }
    
    &__carousel-image{
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  } 
}

// Upcoming courses
#upcoming-courses{
  @include media-breakpoint-up(xl) {
    position: absolute;
    bottom: 20vh;
    right: 1.5 * $rem;
    width: 660px;
    margin-top: 0;
    padding-top: 0;
    box-shadow: 0 10px 20px 5px rgba($dark, 0.6)
  }
}


// Programs
.border-md-right {
  @include media-breakpoint-up(md) {
    border-right: 1px solid $gray-300;
  }
}
