.container {
  display: block;
  padding: 0 $rem;
  margin: auto;
  @each $br-name, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      width: $breakpoint - 2 * $rem;
    }
  }
}
