html {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  text-align: center;
  user-select: none;
}

/* Spėjamo žodžio stiliai */

.word-container {
  margin: 2rem 0;
}

.unknown-letter {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  font-size: 0;
  vertical-align: top;
  margin: 0 0.25rem;
}

.unknown-letter.unknown-letter--answered {
  font-size: 1rem;
}

/* Klaviatūros stiliai */

.keyboard__line {
  margin-bottom: 0.25rem;
}

.keyboard__key {
  display: inline-block;
  padding: 0.25rem;
  border: 1px solid black;
  height: 1rem;
  line-height: 1rem;
  width: 1rem;
  font-size: 0.8rem;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

.keyboard__key:not(.keyboard__key--good):not(.keyboard__key--bad):hover {
  background: #eeeeee;
  box-shadow: 0 1px 2px 1px #0000005d;
  transform: scale(1.2);
}

.keyboard__key--good {
  background-color: #90ee90;
}

.keyboard__key--bad {
  background-color: #ee9090;
}

.keyboard__key--good, .keyboard__key--bad {
  cursor: no-drop;
}

/* Klaidų stiliai */

.mistakes-container__header {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.mistakes-container {
  margin: 0.5rem 0 1.5rem;
}

.mistake-square {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
  margin: 0 0.125rem;
}

.mistake-square--bad {
  background-color: #ee9090;
}