// Spacing
$rem: 16px;
$spacer: $rem;
$spacers: 
(
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
); 

$black: #000;
$primary: #ddcdcd;
$success: #3bce90;
$secondary: #3a92af;
$black-transparent: #00000012;
$blue-transparent:rgba(72, 72, 192, 0.009);


$theme-colors:(
    (
      "black-transparent" : $black-transparent,
      "button-transparent" : $blue-transparent,
      "black" : $black
    )
  );


  $transition-collapse:         height .35s ease ;

  $navbar-padding-y:                  none;

  $card-spacer-x:                     0;







 