.container {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  @each $br-name, $br in $breakpoints {
    @include mediaQueryFrom($br) {
      width: $br - 2 * $rem;
    }
  }
}

