@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
  @each $br-name, $br in $breakpoints {
    @include mediaQueryFrom(  $br) {
      .d-#{$br-name}-#{$display} {
        display: $display;
      }
    }
  }
}
