// Sugeneruoti klases kurios nustato "justify-content"
// reikšmes nuo visų breakpoint'ų
@each $name, $value in $flex-content-justifies {
  .justify-content-#{$name} {
    justify-content: $value;
  }
  @each $br-name, $br in $breakpoints {
    @include mediaQueryFrom($br) {
      .justify-content-#{$br-name}-#{$name} {
        justify-content: $value;
      }
    }
  }
}
