$rem: 18px;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$displays: none, block, inline, inline-block, grid, flex, inline-flex;

$flex-content-justifies: (
  start: start,
  end: end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);
