.logo {
  display: inline-block;
  width: 70px;
}

.text-small {
  font-size: 0.7 * $rem;
}

.navbar .nav-item > a {
  font-weight: 700;
  font-size: 0.7 * $rem;
  text-transform: uppercase;
  line-height: 1.5 * $rem;
}
