a.logo {
  font-family: 'Lobster', cursive;
  font-size: 1.75 * $rem;
  padding-left: 0.25 * $rem;
}

// Common

.text-small {
  font-size: 0.7 * $rem;
}

.color-on-hover {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary;
  }
}

.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
  transition: all 0.5s ease-in-out;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

// Navbar

.navbar .nav-item > a {
  font-weight: 700;
  font-size: 1 * $rem;
  line-height: 1.5 * $rem;
  color: $primary;
  &:hover {transition: all 0.5s ease-in-out;}
}

.anchor-fix {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
}

// Main
main {
  padding-top: $navbar-height;
}

.main-img{
  width: 80%;
}

nav.container{
  border: none;
}

.map-container{
overflow:hidden;
padding-bottom: 60%;
position:relative;
height:0;
border: 0;
}

.map-container iframe{
left:0;
top:0;
right: 0;
height:100%;
width:100%;
position:absolute;
border: 0;
}


