main {
    background: $primary;
    background: linear-gradient(180deg, $primary 85%, rgba(0, 212, 255, 0) 100%);
}

.card-img-top {
    height: 200px;
}

.sidebar {
    position: sticky;
    // position: -webkit-sticky;
    margin-bottom: 70px;
    top: 0;
}

.about {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/background-short.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.eform {
    display: flex;
    justify-content: center;
    align-items: center;

    background: $primary;
    background: linear-gradient(180deg, rgba(0,212,255,0) 20%, $success 100%);
    &__p{
        max-width: 350px;
        text-align: center;
    }
}



footer {
    background: $primary;
    // background: linear-gradient(180deg, $primary 50%, rgba(0,212,255,0) 100%);
}