$rem: 16px;

$primary:   #388B8B;
$secondary: #C7DADB;
$white:     #ffffff;

// $breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// );

$navbar-height: 3 * $rem;