%btn {
  display: inline-block;
  padding: 0.35 * $rem 0.5 * $rem;
  text-decoration: none;
  font-weight: 500;
  color: $dark;
  font-size: 0.8 * $rem;
  border-radius: 4px;
  font-family: $main-font;
  border: none;
  transition: background-color 0.45s ease-in-out, box-shadow 0.3s ease-in-out;
  color: $light;

  &:hover {
    cursor: pointer;
    box-shadow: 1px 2px 4px $shadow, -1px 2px 4px $shadow;
    color: $white;
    text-shadow: 1px 1px $shadow;
  }
}

@each $color-name, $color in $component-colors {
  .btn-#{$color-name} {
    @extend %btn;
    background-color: $color;
    &:hover {
      background-color: darken($color, 10%);
    }
  }
}
