.sort-header {
  user-select: none;
  cursor: pointer;
}

.sort-header:hover>.sort-arrow {
  background: red;
}

.sort-arrow {
  display: inline-block;
  background: #fff;
  clip-path: polygon(0 0, 0% 100%, 60% 50%);
  height: 0.75rem;
  width: 0.75rem;
  margin-left: 0.4rem;
}

.sort-arrow.sort-arrow--down {
  clip-path: polygon(0 22%, 50% 90%, 100% 22%);
  background: tomato;
}

.sort-arrow.sort-arrow--up {
  clip-path: polygon(0 100%, 50% 20%, 100% 100%);
  background: tomato;
}