//fonts

$head-font: "Great Vibes", cursive;
$second-head-font: "Poppins", sans-serif;

// img relarging
$bootstrap-xs: 0;
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

// Crop thumbnail images.
// #gallery {
//     img {
//         height: auto;
//         object-fit: cover;

//         // @media (min-width: $bootstrap-sm) {
//         //     height: 35vw;
//         // }

//         // @media (min-width: $bootstrap-lg) {
//         //     height: 18vw;
//         // }
//     }
// }

// Crop images in the coursel
.carousel-item {
    img {
        object-fit: cover;
        margin: auto;
        @media (min-width: $bootstrap-xs) {
            height: 60vh;
        }
        @media (min-width: $bootstrap-sm) {
            height: 70vh;
        }
        @media (min-width: $bootstrap-md) {
            height: 80vh;
        }
    }
}
.obj {
    img {
        object-fit: cover;
        margin: auto;
        @media (min-width: $bootstrap-xs) {
            height: 40vh;
        }
        @media (min-width: $bootstrap-sm) {
            height: 50vh;
        }
        @media (min-width: $bootstrap-md) {
            height: 60vh;
        }
    }
}
//end

// Spacing
$rem: 16px;
$spacer: $rem;
$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    2: (
        $spacer * 0.5,
    ),
    3: $spacer,
    4: (
        $spacer * 1.5,
    ),
    5: (
        $spacer * 3,
    ),
);

// Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

// Colors
$black-second: #212529;
$black: #000;
$primary: #c59d5f;
$success: #3bce90;
$secondary: #facc87;
$white-transparent: #ffffff;
$light: #fbfbfb;
$theme-colors: (
    "white-transparent": $white-transparent,
);
$btn-border-radius: 2px;
$white: #ffffffef;

// navbar adjustments
$navbar-light-color: rgba($black, 0.8);
$navbar-light-hover-color: rgba($primary, 0.9);
$navbar-light-active-color: $primary;

// navbar
$navbar-height: 48px;
