.logo {
  display: inline-block;
  width: 70px;
}

.text-small {
  font-size: 0.7 * $rem;
}

.navbar .nav-item > a {
  font-weight: 700;
  font-size: 0.7 * $rem;
  text-transform: uppercase;
  line-height: 1.5 * $rem;
}

.color-on-hover {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: grayscale(0);
  }
}

.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}

.text-underline{
  text-decoration: underline;
}
