.brewery-card {
  color: $dark;
  padding: $rem;
  background-color: $white;
  border: 5px solid $primary;
  border-radius: 12px;
  
  &__header {
    display: flex;
    align-items: center;
    a {
      margin: 0 auto;
      margin-bottom: 2 * $rem;
      color: $dark;
      text-decoration: none;
      background: #d9f1fc;
      border-radius: 6px;
      padding: 0 10px;
      &:hover {
        color: $white;
      }
    }
    &__adress{
      color:#858585d0;
      font-weight: 300;
    }
  }
  
  
}
