//navbar

.navbar {
    @include media-breakpoint-up(md) {
        font-size: 1 * $rem;
    }
}

.navbar .navbar-nav .nav-item > a {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5 * $rem;
    color: rgba($black-second, 0.9);
}

.navbar {
    font-size: 0.8 * $rem;
    // @include media-up(map-get($grid-breakpoints, md)) {
    @include media-breakpoint-up(md) {
        font-size: 1 * $rem;
    }
}

.logo {
    display: inline-block;
    height: 30px;
}

.anchor-fix {
    padding-top: $navbar-height;
    margin-top: -$navbar-height;
}

.make-smooth {
    scroll-behavior: smooth;
}

//typography

.h1-first {
    font-family: $head-font;
    font-size: 5.3 * $rem;
    line-height: 80%;
    text-shadow: 2px 2px #181818;
    @include media-breakpoint-up(sm) {
        font-size: 7 * $rem;
    }
}

.h1-second {
    font-family: $second-head-font;
    letter-spacing: 5px;
    text-shadow: 2px 2px #2c2c2c;
    @include media-breakpoint-up(sm) {
        font-size: 2.5 * $rem;
    }
}

.h2-first {
    font-family: $head-font;
    font-size: 5.3 * $rem;
    line-height: 80%;
}
.h2-second {
    font-family: $second-head-font;
    letter-spacing: 5px;
    font-size: 1.2 * $rem;
    &.after-e::after {
        content: "✻";
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.text-underline {
    text-decoration: underline;
}

// ***---***

.btn {
    letter-spacing: 0.1em;
}

.btn-design {
    border-bottom: 2px solid $primary;
    letter-spacing: 0.1em;
}

//images

.image-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background-image: url(../img/dessertss.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
}

.bakery_cover {
    height: 50vh;
    background-image: url("../img/cover2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.blend_cover {
    height: 50vh;
    background-image: url("../img/cover3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.contact_cover {
    height: 50vh;
    background-image: url("../img/cover4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.img-fluid {
    height: 100%;
    width: 100%;
}

//footer
.footer-infor {
    color: $black-second;
    &:hover {
        color: #070506;
        font-weight: 500;
    }
}
.googlemap {
    @include media-breakpoint-up(xs) {
        margin-top: 1.5 * $rem;
        height: 100%;
        width: 100%;
    }
    @include media-breakpoint-up(lg) {
        height: 50vh;
    }
}
