// Custom gradient colors
.grad-bg-1 {
    background: rgb(218,194,70);
    background: linear-gradient(61deg, rgba(218,194,70,1) 0%, rgba(252,242,189,1) 48%);
}
.grad-bg-2 {
    background: rgb(218,194,70);
    background: linear-gradient(208deg, rgba(218,194,70,1) 0%, rgba(252,242,189,1) 48%);
}
.grad-bg-3 {
    background: rgb(252,242,189);
    background: linear-gradient(233deg, rgba(252,242,189,1) 0%, rgba(252,248,227,1) 48%, rgba(252,242,189,1) 100%);
}


// Video gallery

.video-gallery iframe {
    min-height:200px;
    max-height: 350px;
    max-width: 600px;
}

.border-lg-none {
    @include media-up(lg) {
      border-bottom: none;
    }
  }