// Common
.text-small {
  font-size: 0.7 * $rem;
}

a.color-on-hover {
  img {
    filter: grayscale(100%);
  }
  &:hover {
    background-color: $light !important;
    img {
      transition: all 0.3s ease-in-out;
      filter: grayscale(0);
    }
  }
}

.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

// Navbar
.logo {
  display: inline-block;
  height: 45px;
}

.navbar {
  font-size: 0.7 * $rem;
  @include media-breakpoint-up(md) {
    // @include media-up(map-get($grid-breakpoints, md)) {
    font-size: $rem;
  }
}
.navbar .navbar-nav .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5 * $rem;
  color: rgba($dark, 0.8);
}

.anchor-fix {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
}

// Main
main {
  padding-top: $navbar-height;
}

// Programs
.border-md-right {
  @include media-breakpoint-up(md) {
    border-right: 1px solid $gray-300;
  }
}
