body {
  margin: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

.container {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 732px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 956px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1164px;
  }
}

.d-none {
  display: none;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
}
.d-block {
  display: block;
}

@media screen and (min-width: 576px) {
  .d-sm-block {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-block {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-block {
    display: block;
  }
}
.d-inline {
  display: inline;
}

@media screen and (min-width: 576px) {
  .d-sm-inline {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .d-md-inline {
    display: inline;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-inline {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-inline {
    display: inline;
  }
}
.d-inline-block {
  display: inline-block;
}

@media screen and (min-width: 576px) {
  .d-sm-inline-block {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .d-md-inline-block {
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-inline-block {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-inline-block {
    display: inline-block;
  }
}
.d-grid {
  display: grid;
}

@media screen and (min-width: 576px) {
  .d-sm-grid {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
  .d-md-grid {
    display: grid;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-grid {
    display: grid;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-grid {
    display: grid;
  }
}
.d-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .d-sm-flex {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-flex {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-flex {
    display: flex;
  }
}
.d-inline-flex {
  display: inline-flex;
}

@media screen and (min-width: 576px) {
  .d-sm-inline-flex {
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) {
  .d-md-inline-flex {
    display: inline-flex;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-inline-flex {
    display: inline-flex;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-inline-flex {
    display: inline-flex;
  }
}
.justify-content-start {
  justify-content: start;
}

@media screen and (min-width: 576px) {
  .justify-content-sm-start {
    justify-content: start;
  }
}
@media screen and (min-width: 768px) {
  .justify-content-md-start {
    justify-content: start;
  }
}
@media screen and (min-width: 992px) {
  .justify-content-lg-start {
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .justify-content-xl-start {
    justify-content: start;
  }
}
.justify-content-end {
  justify-content: end;
}

@media screen and (min-width: 576px) {
  .justify-content-sm-end {
    justify-content: end;
  }
}
@media screen and (min-width: 768px) {
  .justify-content-md-end {
    justify-content: end;
  }
}
@media screen and (min-width: 992px) {
  .justify-content-lg-end {
    justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .justify-content-xl-end {
    justify-content: end;
  }
}
.justify-content-center {
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .justify-content-sm-center {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .justify-content-md-center {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .justify-content-lg-center {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .justify-content-xl-center {
    justify-content: center;
  }
}
.justify-content-between {
  justify-content: space-between;
}

@media screen and (min-width: 576px) {
  .justify-content-sm-between {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .justify-content-md-between {
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .justify-content-lg-between {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .justify-content-xl-between {
    justify-content: space-between;
  }
}
.justify-content-around {
  justify-content: space-around;
}

@media screen and (min-width: 576px) {
  .justify-content-sm-around {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .justify-content-md-around {
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .justify-content-lg-around {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .justify-content-xl-around {
    justify-content: space-around;
  }
}
.justify-content-evenly {
  justify-content: space-evenly;
}

@media screen and (min-width: 576px) {
  .justify-content-sm-evenly {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .justify-content-md-evenly {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 992px) {
  .justify-content-lg-evenly {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .justify-content-xl-evenly {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=main.css.map */
