$rem: 16px;

// colors
$black: #000;
$primary: #9e6201c5;
$success: #46836994;
$secondary: #bdc1c2;
$white-transparent: #ffffffd3;
$theme-colors: (
  "white-transparent" : $white-transparent
);
$btn-border-radius: 2px;

// navbar adjustments
$navbar-light-color: rgba($black, 0.8);
$navbar-light-hover-color: rgba($primary, 0.9);
$navbar-light-active-color: $primary;
 
// navbar
$navbar-height: 80px;