*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-muted, .btn-secondary, .btn-primary {
  display: inline-block;
  padding: 6.3px 9px;
  text-decoration: none;
  font-weight: 500;
  color: #292b2c;
  font-size: 14.4px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  transition: background-color 0.45s ease-in-out, box-shadow 0.3s ease-in-out;
  color: #f6f9fa;
}
.btn-muted:hover, .btn-secondary:hover, .btn-primary:hover {
  cursor: pointer;
  box-shadow: 1px 2px 4px #b1b1b17a, -1px 2px 4px #b1b1b17a;
  color: #ffffff;
  text-shadow: 1px 1px #b1b1b17a;
}

.btn-primary {
  background-color: #17bdf6;
}
.btn-primary:hover {
  background-color: #089ed2;
}

.btn-secondary {
  background-color: #653dac;
}
.btn-secondary:hover {
  background-color: #4f3086;
}

.btn-muted {
  background-color: #92a1a6;
}
.btn-muted:hover {
  background-color: #76898f;
}

.card {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.card__image-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.card__image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card__content {
  background: #ffffffd0;
  height: 100%;
  position: absolute;
  bottom: -100%;
  padding: 1rem;
  transition: all 0.6s ease-in-out;
}
.card__content__header {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}
.card__content__text {
  text-align: justify;
}
.card:hover > .card__content {
  bottom: 0;
}

.container {
  display: block;
  padding: 0 18px;
  margin: auto;
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 732px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 956px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1164px;
  }
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-1 {
  margin: 4.5px;
}

.mt-1 {
  margin-top: 4.5px;
}

.mr-1 {
  margin-right: 4.5px;
}

.mb-1 {
  margin-bottom: 4.5px;
}

.ml-1 {
  margin-left: 4.5px;
}

.mx-1 {
  margin-left: 4.5px;
  margin-right: 4.5px;
}

.my-1 {
  margin-top: 4.5px;
  margin-bottom: 4.5px;
}

.p-1 {
  padding: 4.5px;
}

.pt-1 {
  padding-top: 4.5px;
}

.pr-1 {
  padding-right: 4.5px;
}

.pb-1 {
  padding-bottom: 4.5px;
}

.pl-1 {
  padding-left: 4.5px;
}

.px-1 {
  padding-left: 4.5px;
  padding-right: 4.5px;
}

.py-1 {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}

.m-2 {
  margin: 9px;
}

.mt-2 {
  margin-top: 9px;
}

.mr-2 {
  margin-right: 9px;
}

.mb-2 {
  margin-bottom: 9px;
}

.ml-2 {
  margin-left: 9px;
}

.mx-2 {
  margin-left: 9px;
  margin-right: 9px;
}

.my-2 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.p-2 {
  padding: 9px;
}

.pt-2 {
  padding-top: 9px;
}

.pr-2 {
  padding-right: 9px;
}

.pb-2 {
  padding-bottom: 9px;
}

.pl-2 {
  padding-left: 9px;
}

.px-2 {
  padding-left: 9px;
  padding-right: 9px;
}

.py-2 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.m-3 {
  margin: 18px;
}

.mt-3 {
  margin-top: 18px;
}

.mr-3 {
  margin-right: 18px;
}

.mb-3 {
  margin-bottom: 18px;
}

.ml-3 {
  margin-left: 18px;
}

.mx-3 {
  margin-left: 18px;
  margin-right: 18px;
}

.my-3 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.p-3 {
  padding: 18px;
}

.pt-3 {
  padding-top: 18px;
}

.pr-3 {
  padding-right: 18px;
}

.pb-3 {
  padding-bottom: 18px;
}

.pl-3 {
  padding-left: 18px;
}

.px-3 {
  padding-left: 18px;
  padding-right: 18px;
}

.py-3 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.m-4 {
  margin: 27px;
}

.mt-4 {
  margin-top: 27px;
}

.mr-4 {
  margin-right: 27px;
}

.mb-4 {
  margin-bottom: 27px;
}

.ml-4 {
  margin-left: 27px;
}

.mx-4 {
  margin-left: 27px;
  margin-right: 27px;
}

.my-4 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.p-4 {
  padding: 27px;
}

.pt-4 {
  padding-top: 27px;
}

.pr-4 {
  padding-right: 27px;
}

.pb-4 {
  padding-bottom: 27px;
}

.pl-4 {
  padding-left: 27px;
}

.px-4 {
  padding-left: 27px;
  padding-right: 27px;
}

.py-4 {
  padding-top: 27px;
  padding-bottom: 27px;
}

.m-5 {
  margin: 54px;
}

.mt-5 {
  margin-top: 54px;
}

.mr-5 {
  margin-right: 54px;
}

.mb-5 {
  margin-bottom: 54px;
}

.ml-5 {
  margin-left: 54px;
}

.mx-5 {
  margin-left: 54px;
  margin-right: 54px;
}

.my-5 {
  margin-top: 54px;
  margin-bottom: 54px;
}

.p-5 {
  padding: 54px;
}

.pt-5 {
  padding-top: 54px;
}

.pr-5 {
  padding-right: 54px;
}

.pb-5 {
  padding-bottom: 54px;
}

.pl-5 {
  padding-left: 54px;
}

.px-5 {
  padding-left: 54px;
  padding-right: 54px;
}

.py-5 {
  padding-top: 54px;
  padding-bottom: 54px;
}

/*# sourceMappingURL=main.css.map */
