.card {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    background: #ffffffd0;
    height: 100%;
    position: absolute;
    bottom: -100%;
    padding: 1rem;
    transition: all 0.6s ease-in-out;
    &__header {
      margin-top: 0;
      font-weight: bold;
      text-align: center;
    }
    &__text {
      text-align: justify;
    }
  }
  &:hover > &__content {
    bottom: 0;
  }
}