$page-bg: #fdfdfd;  
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

html {
  font-family: $main-font;  
}

body {
  background-color: $page-bg; 
}
