// Common ==========================================
*,
:before,
:after {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
}

.section-header__title {
  text-align: center;
  padding-top: 5 * $rem;
  color: #d65519;
  font-size: 2 * $rem;
  font-weight: 400;
  @include media-breakpoint-up(md) {
    font-size: 3 * $rem;
    padding-top: 7 * $rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4 * $rem;
    padding-top: 7 * $rem;
  }
}

.section-header__subtitle {
  text-align: center;
  padding-top: 0 * $rem;
  margin: auto;
  padding-bottom: 1 * $rem;
  color: #808080;
  font-size: 1.2 * $rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 1.5 * $rem;
    font-size: 1.5 * $rem;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 2 * $rem;
    font-size: 1.8 * $rem;
  }
}

@include media-breakpoint-up(lg) {
  #services, #about, #testimonials, #contacts  {
    margin-bottom: 10 * $rem;
  }
}

// Navbar ==========================================

.logo {
  background-color: $primary;
  font-size: 1.5 * $rem;
  color: $white;
  @include media-breakpoint-up(xl) {
    font-size: 2 * $rem;
  }
}

.anchor-fix {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
}

.nav-item {
  margin-left: $rem;
  text-transform: uppercase;
  font-size: $rem;
  @include media-breakpoint-up(xl) {
    font-size: 1.1 * $rem;
  }
}

.dropdown-item {
  font-size: $rem;
}

.dropdown-item:hover,
.nav-link:hover {
  color: $warning !important;
  transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active {
  color: $primary;
}

.nav-link-break {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  @include media-breakpoint-up(xl) {
    display: none;
  }
}

// Hero ===============================================

.hero__headline h1 {
  font-size: 3 * $rem;
  @include media-breakpoint-up(lg) {
    font-size: 4 * $rem;
  }
}

.hero__text p {
  font-size: 1.3 * $rem;
  @include media-breakpoint-up(lg) {
    font-size: 1.7 * $rem;
  }
}

.hero__img {
  bottom: 0;
  right: 0;
}

.hero {
  margin-top: $navbar-height;
  &__headline {
    grid-area: headline;
  }
  &__text {
    grid-area: text;
    justify-self: flex-end;
  }
  &__img {
    grid-area: img;
  }
  display: grid;
  gap: 0.5 * $rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    "headline headline"
    "text img"
    "text img";
  &__headline {
    justify-self: flex-start;
    align-self: flex-end;
  }
  @include media-breakpoint-up(md) {
    height: calc(100vh - $navbar-height);
    display: grid;
    gap: $rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "headline img"
      "text img";
    &__headline {
      justify-self: flex-end;
      text-align: right;
    }
    &__text {
      justify-self: flex-end;
      text-align: right;
    }
  }
}

// Services ==================================
@include media-breakpoint-up(sm) {
  .card h3 {
    font-size: 1.1 * $rem;
  }
  .card p,
  .card button,
  .more {
    font-size: 0.8 * $rem;
  }
}

@include media-breakpoint-up(md) {
  .card h3 {
    font-size: 1.5 * $rem;
  }
  .card p,
  .card button,
  .more {
    font-size: 1.1 * $rem;
  }
}

// About ======================================

.iframe-container {
  @include media-breakpoint-down(md) {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
}

.iframe-container iframe {
  @include media-breakpoint-down(md) {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
}

aside {
  background-color: $secondary;
}

aside p {
  font-size: 1 * $rem;
  @include media-breakpoint-up(md) {
    font-size: $rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.1 * $rem;
  }
}

// Testimonials ======================================

.carousel-item img, #testimonials .item img {
  width: 15 * $rem;
  height: 15 * $rem;
  border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  background-size: 100%, 100%;
  height: 5 * $rem;
  width: 5 * $rem;
  outline: black;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 2 * $rem;
  color: $primary;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 2 * $rem;
  color: $primary;
}

.carousel-caption, #testimonials .caption{
  position: relative;
  left: 0;
  top: 0;
  color: $primary;
}

.carousel-caption h4, #testimonials .caption h4 {
  text-transform: uppercase;
  letter-spacing: 0.3 * $rem;
  font-weight: 100;
}

#testimonials .caption {
  max-width: fit-content;
@include media-breakpoint-up(xl) {
  font-size: 1.2 * $rem;
}
}

#testimonials .item {
  margin: $rem auto;
}

// Contacts ==========================================

.address {
  background-color: $primary;
  color: $white;

  &__company {
    font-size: 1.3 * $rem;
  }

  a {
    color: $white;
    font-size: $rem;
  }

  a:hover {
    text-decoration: none;
    color: $warning;
    transition: 0.3s ease-in;
  }
}

// Footer =============================================

.website-footer {
  background-color: $primary;
  color: $white;
  height: 7 * $rem;
  font-weight: 300;

  i {
    font-size: 2 * $rem;
    text-decoration: none;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $warning;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
}
