* {
  box-sizing: border-box;
}

body {
  background: #d3d3c5;
  background: -webkit-linear-gradient(to right, #d4d3dd, #d3d3c5);
  background: linear-gradient(to right, #d4d3dd, #d3d3c5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  margin: 0;
}

h1 {
  letter-spacing: 3px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  cursor: pointer;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in;
  &:hover {
    transform: scale(1.05);
  }
  &_img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
  }
  &_img-container img {
    margin-top: 20px;
    max-width: 90%;
  }
  &_info {
    margin-top: 20px;
  }
  &_number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 0.8em;
    padding: 5px 10px;
  }
  &_name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
  }
}
