//Fonts
$rem: 16px;
$main-font: "Raleway", sans-serif;
$secondary-font: "Roboto", sans-serif;
// Colors
$main-color: #fab162;
$secondary-color: #191919;

$theme-colors: (
  "black": $secondary-color,
  "title": $main-color,
);
// Navbar
$navbar-height: 71px;
