html, body { 
  background: url(../img/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card__bg{
    
    &-concert{
        height: 10 * $rem;
        background-position: center;
        background-size: cover;
        background-image: url("../img/koncertai.jpg");
    }

    &-art{
        height: 10 * $rem;
        background-position: center;
        background-size: cover;
        background-image: url("../img/parodos.jpg");
    }

    &-sport{
        height: 10 * $rem;
        background-position: center;
        background-size: cover;
        background-image: url("../img/sportas.jpg");
    }

    &-events{
        height: 10 * $rem;
        background-position: center;
        background-size: cover;
        background-image: url("../img/pramogos.jpg");
    }
  }



.image-cover{
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.logo {
    display: inline-block;
    height: 45px;
  }

.main {
  margin-top: 55px;
  height: 75vh;
  width: 100%;
  &__carousel-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  }

  h1 { font-family: "Jockey One"; font-size: 11px; font-style: italic; font-variant: normal; font-weight: 700; line-height: 5.5px; } h3 { font-family: "Jockey One"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Jockey One"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Jockey One"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Jockey One"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

  .category__top-line {
    background: rgba(0, 0, 0, 0.466);
  }

  #events{
    margin-top: 55px;
  }
  #upcoming-events .row>a{
    height: 10 * $rem;
  }

  .footer__collum::after {
    content: "";
    display:inline-block;
    margin: auto;
    width:65%; height:100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.336);
  }





  