$white: #fff;
$dark: #151515; 
$page-bg: #333;
$shadow-dark: 0 8px 12px 4px rgb(0, 0, 0);
$primary: #ff7300;

$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$font-bold: 500;

$rem: 16px;