.grid-main {
  display: grid;
  width: 1500px;
  height: 1500px;
  margin: 3 * $rem auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3 * $rem;

  &__task {
    display: inline-grid;
    gap: 0.25 * $rem;

    & > * {
      background-color: rgb(125, 8, 221);
    }

    &--1,
    &--2,
    &--3 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &--4 {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    &--5 {
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-template-rows: 2fr 1fr 1fr 2fr;
    }

    &--6 {
      grid-template-columns: 1fr 1fr 2fr 2fr;
      grid-template-rows: 2fr 1fr 1fr;
    }

    &--7 {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    &--8 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2fr 1fr 1fr;
    }

    &--9 {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    }

    &--10 {
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }
}
