@for $i from 1 through 12 {
  .grid-x-st-#{$i} {
    grid-column-start: $i;
  }
  .grid-y-st-#{$i} {
    grid-row-start: $i;
  }
  .grid-x-end-#{$i + 1} {
    grid-column-end: $i + 1;
  }
  .grid-y-end-#{$i + 1} {
    grid-row-end: $i + 1;
  }
}
