// Spacing
$rem: 16px;
$spacer: $rem;
$spacers: 
(
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);
//styles text



// carousel
// .carousel-item {
//   img {
//       object-fit: cover;
//       margin: auto;
//       @media (min-width: $bootstrap-xs) {
//           height: 60vh;
//       }
//       @media (min-width: $bootstrap-sm) {
//           height: 70vh;
//       }
//       @media (min-width: $bootstrap-md) {
//           height: 80vh;
//       }
//   }
// }
// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
); 

// Colors
$black: #000;
$primary: #00b0ec;
$success: #3bce90;
$secondary: #92a1a6;
$white-transparent: #ffffffd3;
$header-color: #d09d96;
$theme-colors: (
  "white-transparent" : $white-transparent
);
//btn
$btn-border-radius: 2px;
//text

 $font1:'Nerko One', cursive;
 $font2:'Piedra', cursive;

// navbar adjustments
$navbar-light-color: rgba($black, 0.8);
$navbar-light-hover-color: rgba($primary, 0.9);
$navbar-light-active-color: $primary;
 
// navbar
$navbar-height: 71px;