html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
//Fonts
* {
  font-family: $secondary-font;
}

h1 {
  font-size: 4rem !important;
  font-family: $main-font;
  @include media-breakpoint-up(md) {
    font-size: 6rem !important;
  }
  @include media-breakpoint-up(lg) {
    font-size: 8rem !important;
  }
}
// Navbar
.logo {
  display: inline-block;
  height: 45px;
}

.hero__container {
  min-height: 100vh;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../img/hero.jpg");
    filter: grayscale(100%);
  }
}

main {
  position: relative;
  display: none;

  @include media-breakpoint-up(md) {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23fab162' stroke-width='1' stroke-opacity='0.3'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    overflow: hidden;
  }
}

.card {
  width: 18rem;
}
.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.rent {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 250px);
    grid-gap: 5px;
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: repeat(2, 250px);
    }
  }
  &__image-box {
    cursor: pointer;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
    &:hover {
      opacity: 0.7;
      transform: scale(0.98);
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__ib-1 {
    display: none;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }
  &__ib-4 {
    display: none;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }
}
.gallery {
  &__container {
    display: grid;
    grid-auto-flow: dense;
    grid-template:
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px;

    @include media-breakpoint-up(md) {
      grid-template:
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px;
    }
    @include media-breakpoint-up(lg) {
      grid-template:
        "1fr 1fr 1fr 1fr" 25.25vh
        "1fr 1fr 1fr 1fr" 25.25vh
        "1fr 1fr 1fr 1fr" 25.25vh
        "1fr 1fr 1fr 1fr" 25.25vh;
      grid-gap: 5px;
    }
  }
  &__img-b {
    position: relative;
    background: black;
  }
  &__a {
    grid-row: span 2;
  }
  &__b {
    grid-column: span 2;
  }
  &__e {
    @include media-breakpoint-up(lg) {
      grid-column: span 2;
    }
  }
  &__f {
    grid-column: span 2;
    @include media-breakpoint-up(lg) {
      grid-column: span 1;
    }
  }
  &__g {
    @include media-breakpoint-up(md) {
      grid-column: span 2;
    }
  }
  &__h {
    grid-column: span 1;
    @include media-breakpoint-up(md) {
      grid-column: span 2;
    }
  }
  &__i {
    @include media-breakpoint-up(md) {
      grid-row: span 2;
    }
    @include media-breakpoint-up(lg) {
      grid-row: span 1;
    }
  }
  &__j {
    grid-column: span 2;
    @include media-breakpoint-up(md) {
      grid-row: span 1;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img-author {
  display: inline-block;
  height: 18rem;
  width: 18rem;
  object-fit: cover;
}

.gmap {
  position: relative;
  text-align: right;
  &___canvas {
    overflow: hidden;
  }
}
