$home-vertical-margin: 50px;

#app {
  margin: $home-vertical-margin 0;
}

.card-container {
  margin: 2 * $rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-container.show {
  opacity: 1;
}

