.user-card {
  color: $white;
  padding: $rem;
  background-color: $dark;
  box-shadow: $shadow-dark;
  border: 2px solid $primary;
  border-radius: 20px;
  &__header {
    display: flex;
    align-items: center;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
  &__about{
    margin-left: 20px;
    margin-right: 20px;
  }
  &__div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    margin-right: 30px;
    border-radius: 60px;
  }
}
