$white: #E6E2DD;
$dark: #373A36; 
$page-bg: #D48166;
$shadow-dark: 0 8px 12px 4px rgb(0, 0, 0);
$primary: #E6E2DD;

$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$font-bold: 500;

$rem: 16px;