// Common
.text-small {
  font-size: 0.7 * $rem;
}

a.color-on-hover {
  img {
    filter: grayscale(100%);
  }
  &:hover {
    background-color: $light !important;
    img {
      transition: all 0.3s ease-in-out;
      filter: grayscale(0);
    }
  }
}

.btn.btn-select {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

.btn.btn-select.active {
  background-color: $primary;
  color: $white;
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

// Navbar
.logo {
  display: inline-block;
  height: 45px;
}

.navbar {
  font-size: 0.7 * $rem;
  @include media-breakpoint-up(md) {
    // @include media-up(map-get($grid-breakpoints, md)) {
      font-size: $rem;
    }
  }

  .navbar .navbar-nav .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5 * $rem;
  color: rgba($dark, 0.8);
}

// .anchor-fix {
//   padding-top: $navbar-height;
//   margin-top: -$navbar-height;
// }

.hero{
  padding-top: 10vh;
  .card-img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .card-img{
    @include media-breakpoint-up(sm) {
      height: 60vh;
    }
  }
}

// .hero .card-img{
//   height: 60vh;
// }

.background-img{
  background-image: url('../img/background-texture.jpg');
  // background-attachment: fixed;
  background-size: cover;
  margin-top: -10vh;
}

.background-img-mid{
  background-image: url('../img/background-image-mid.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

// Main
main {
  padding-top: $navbar-height;
}

.card h2{
  font-size: 1.3 * $rem;
}

.card{
  box-shadow: 5px 5px 10px #00000079
}


.pink-zone{
  height: 14 * $rem;
  z-index: 2;
  margin-top: -15vh;
  @include media-breakpoint-up(sm) {
    margin-top: -30vh;
    &__about{
      margin-top: 0;
    }
    
  }

}

// .pricing{
//   margin-top: -20vh;
// }

.registration-form{
  top: 0;
  left: 0;
  right: 0;
}
.parallax{
  margin-top: 60vh;
  margin-bottom: -15vh;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../img/background-image-mid.jpg');
  height: 50vh;

  @include media-breakpoint-up(sm) {
  margin-top: 100vh;  
  height: 80vh;
}
}

.about-me{
  margin-top: 6vh;
  padding-top: -15rem;
  padding-bottom: 2rem;
  height: 50vh;
  padding-left: 0;
  background-image: url('../img/about-me.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  @include media-breakpoint-up(sm) {
    height: 60vh;
  }

}

// Programs
.border-md-right {
  @include media-breakpoint-up(md) {
    border-right: 1px solid $gray-300;
  }
}
