@each $br-name, $breakpoint in $grid-breakpoints {
    $infix: if($breakpoint == 0, "", "-#{$br-name}");
    @include media-up($breakpoint) {
      .h#{$infix}-25 {
        height: 25%;
      }
      .h#{$infix}-50 {
        height: 50%;
      }
      .h#{$infix}-75 {
        height: 75%;
      }
      .h#{$infix}-100 {
        height: 100%;
      }
    }

    @include media-up($breakpoint) {
        .w#{$infix}-25 {
            width: 25%;
        }
        .w#{$infix}-50 {
            width: 50%;
        }
        .w#{$infix}-75 {
            width: 75%;
        }
        .w#{$infix}-100 {
            width: 100%;
        }
      }
}