.grid-areas-grid {
  display: grid;
  height: 100vh;
  padding: 3rem 0.5rem;
  grid-template-columns: 2fr 5fr 11fr;
  gap: 3rem;
  grid-template-rows: 1fr;
  text-align: center;
  h2 {
    margin: 0.5rem 0;
    height: 36px;
  }

  &__grid {
    display: grid;
    height: calc(100% - 36px - 1rem);
    // Visiem bendras savybes
    &--mobile {
      // Specifiškai mobiliam
    }

    &--tablet {
      // Specifiškai planšetei
    }

    &--desktop {
    }
    // Specifiškai darbalaukiui
  }
}
