.grid-main {
  display: grid;
  width: 1500px;
  height: 1200px;
  margin: 3 * $rem auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3 * $rem;

  &__task {
    display: inline-grid;
    gap: 0.25 * $rem;

    & > * {
      background-color: rgb(125, 8, 221);
    }

    &--1,
    &--2,
    &--3 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &--4 {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    &--5 {
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-template-rows: 2fr 1fr 1fr 2fr;
    }

    &--6 {
      grid-template-columns: 1fr 1fr 2fr 2fr;
      grid-template-rows: 2fr 1fr 1fr;
    }

    &--7 {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    &--8 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2fr 1fr 1fr;
    }

    &--9 {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    }

    &--10 {
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-template-rows: repeat(6, 1fr);
    }
    &--11 {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 4fr 1fr;
    }
    &--12 {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
    }
    &--13 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
    }
    &--14 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
    &--15 {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    &--16 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 2fr 2fr 1fr 1fr;
    }
    &--17 {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
    &--18 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2fr 1fr 1fr 2fr;
    }
    &--19 {
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    }
    &--20 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 2fr);
    }
  }
}

.grid-desert {
  background-color: #29343d;
  display: grid;
  margin: 3*$rem auto;
  padding: 0.5rem;
  height: 400px + 5 * $rem;
  width: 600px + 5 * $rem;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;

  &__peach {
    background-image: linear-gradient(to right top, #feedab, #fb7eb3);
  }
  &__electric {
    background-image: linear-gradient(to right top, #70c1fa, #79ebe0);
  }
  &__electric-reverse {
    background-image: linear-gradient(to left bottom, #70c1fa, #79ebe0);
  }
  &__vintage-barbie {
    background-image: linear-gradient(to right top, #cbabfb, #fb7ef6);
  }
  &__vintage-barbie-reverse {
    background-image: linear-gradient(to right top, #cbabfb, #fb7ef6);
  }
}
