.grid-cards {
  display: grid;
  width: 1002px;
  height: 890px;
  grid-template-columns: 125px 75px 225px 75px 2px 75px 225px 75px 125px;
  grid-template-rows: 40px 75px 225px 75px 60px 75px 225px 75px 40px;
  // width: 1002px;
  // height: 890px;
  // grid-template-columns: 5fr 3fr 9fr 3fr 2px 3fr 9fr 3fr 5fr;
  // grid-template-rows: 2fr 3fr 9fr 3fr 3fr 3fr 9fr 3fr 2fr;

  margin: 5rem auto;
  background-color: #f7f7f7;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  background: #fffb;
  padding: 1.5rem;
  font-size: 0.8rem;
  user-select: none;
  position: relative;
  overflow: hidden;
  * {
    position: relative;
    z-index: 5;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom, #fff0,  #fff);
    background-size: 400% 400%;
    transition: all 0.6s ease-in-out;
  }
  &:hover {
    &:before{
      background-position: 100% 100%;
    }
    .card-content__title:after {
      width: 50%;
    }
  }
  &__date {
    text-transform: uppercase;
    font-size: 0.75em;
  }

  &__title {
    margin: 0;
    text-transform: capitalize;
    &:after {
      content: "";
      display: block;
      margin: 0.5em 0;
      height: 0.15em;
      width: 25%;
      background: #333;
      transition: all 0.3s ease-in-out;
    }
  }

  &__link {
    text-transform: uppercase;
    font-size: 0.6em;
    color: #aaa;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
