.grid-areas-grid-pro {
  display: grid;
  height: 100vh;
  padding: 3rem 0.5rem;
  grid-template-columns: 2fr 5fr 11fr;
  gap: 3rem;
  grid-template-rows: 1fr;
  text-align: center;
  h2 {
    margin: 0.5rem 0;
    height: 36px;
  }
  &__header {
    grid-area: header-start / header-start / header-end / header-end;
    background: #0f1629;
    color: #fff;
  }
  &__menu {
    grid-area: menu-start / menu-start / menu-end / menu-end;
    background: #ef3c4f;
    color: #fff;
  }
  &__hero {
    grid-area: hero-start / hero-start / hero-end / hero-end;
    background: #4c86c6;
    color: #fff;
  }
  &__main {
    grid-area: main-start / main-start / main-end / main-end;
    background: #24344b;
    color: #fff;
  }
  &__banner {
    grid-area: banner-start / banner-start / banner-end / banner-end;
    background: #ffd169;
    color: #000;
  }
  &__extra {
    grid-area: extra-start / extra-start / extra-end / extra-end;
    background: #4dbd97;
    color: #000;
  }
  &__image {
    grid-area: image-start / image-start / image-end / image-end;
    background: #c1e4e6;
    color: #000;
  }
  &__blank {
    grid-area: blank-start / blank-start / blank-end / blank-end;
  }

  &__grid {
    display: grid;
    height: calc(100% - 36px - 1rem);
    // Visiem bendros savybes
    &--mobile {
      grid-template-columns:
        [ header-start menu-start hero-start main-start banner-start extra-start image-start ] // 1
        auto
        [ header-end menu-end hero-end main-end banner-end extra-end image-end ]; // 2
      grid-template-rows:
        [ header-start ] // 1
        1fr
        [ header-end menu-start ] // 2
        1fr
        [ menu-end hero-start ] // 3
        3fr
        [ hero-end main-start ] // 4
        3fr
        [ main-end banner-start ] // 5
        2fr
        [ banner-end extra-start ] // 6
        2fr
        [ extra-end image-start ] // 7
        2fr
        [ image-end ]; // 8
    }

    &--tablet {
      grid-template-columns:
        [ header-start hero-start menu-start ] // 1
        1fr
        [ menu-end main-start banner-start extra-start ] // 2
        2fr
        [ extra-end image-start ] // 3
        1fr
        [ header-end hero-end main-end banner-end image-end ]; // 4
      grid-template-rows:
        [ header-start ] // 1
        1fr
        [ header-end hero-start ] // 2
        4fr
        [ hero-end menu-start main-start ] // 3
        4fr
        [ main-end banner-start ] // 4
        2fr
        [ banner-end extra-start image-start ] // 5
        2fr
        [ menu-end extra-end image-end ]; // 6
    }

    &--desktop {
    }
  }
}
