.grid-areas-grid {
  display: grid;
  height: 100vh;
  padding: 3rem 0.5rem;
  grid-template-columns: 2fr 5fr 11fr;
  gap: 3rem;
  grid-template-rows: 1fr;
  text-align: center;
  h2 {
    margin: 0.5rem 0;
    height: 36px;
  }
  &__header {
    grid-area: header;
    background: #0f1629;
    color: #fff;
  }
  &__menu {
    grid-area: menu;
    background: #ef3c4f;
    color: #fff;
  }
  &__hero {
    grid-area: hero;
    background: #4c86c6;
    color: #fff;
  }
  &__main {
    grid-area: main;
    background: #24344b;
    color: #fff;
  }
  &__banner {
    grid-area: banner;
    background: #ffd169;
    color: #000;
  }
  &__extra {
    grid-area: extra;
    background: #4dbd97;
    color: #000;
  }
  &__image {
    grid-area: image;
    background: #c1e4e6;
    color: #000;
  }

  &__grid {
    display: grid;
    height: calc(100% - 36px - 1rem);
    // Visiem bendras savybes
    &--mobile {
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
      grid-template-areas:
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image";
    }

    &--tablet {
      // grid-template-columns: 1fr 2fr 1fr;
      // grid-template-rows: 1fr 4fr 4fr 2fr 2fr;
      // grid-template-areas:
      //   "header header header"
      //   "hero   hero   hero"
      //   "menu   main   main"
      //   "menu   banner banner"
      //   "menu   extra  image";
      grid-template:
        "header header header" 1fr 
        "hero   hero   hero" 4fr
        "menu   main   main" 4fr
        "menu   banner banner" 2fr
        "menu   extra  image" 2fr /
        1fr 2fr 1fr;
    }

    &--desktop {
      grid-template:
        "header menu   menu   menu" 1fr
        "hero   hero   hero   hero" 5fr
        "main   main   .      image" 2fr
        "main   main   .      extra" 2fr
        "banner banner banner banner" 2fr /
        1fr 1fr 1fr 1fr;
    }
  }
}
