// Spacing
$rem: 16px;
$spacer: $rem;
$spacers: 
(
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
); 

// Colors
$black: #000;
$primary: #00b0ec;
$success: #3bce90;
$secondary: #92a1a6;
$white-transparent: #ffffffd3;
$theme-colors: (
  "white-transparent" : $white-transparent
);
$btn-border-radius: 2px;

// navbar adjustments
$navbar-light-color: rgba($black, 0.8);
$navbar-light-hover-color: rgba($primary, 0.9);
$navbar-light-active-color: $primary;
 
// navbar
$navbar-height: 71px;