$home-vertical-margin: 50px;

#app {
  margin: 50px auto;
  width: 900px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.loading-animation {
  display: flex;
  height: calc(100vh - #{$home-vertical-margin * 2});
  justify-content: center;
  align-items: center;
  img {
    width: 900px;
    height: 700px;
  }
}

.notice-end-of-users {
  color: $primary;
  text-align: center;
  display: block;
  margin: 1.5 * $rem 0;
}

.like_numbers {
  background-color: rgb(86, 86, 243);
  border-radius: 4px;
  width: 7%;
  text-align: center;
  color: white;
  font-weight: 700;
  padding: 4px;
  font-size: 18px;
}
