.user-card {
  padding: 1rem;
  // height: 300px;
  background: $white;
  box-shadow: $shadow;
  border: 4px solid rgb(153, 3, 3);
  border-radius: 3px;
  color: rgb(67, 12, 0);
  background-image: linear-gradient(rgb(255, 247, 252), rgb(255, 227, 227));
  margin: 1 * $rem;
  &__img {
    margin-right: 10px;
  }
  &__userName {
    display: flex;
  }
}

.linkUrl {
  text-decoration: none;
  color: rgb(153, 3, 3);
}

.date_created {
  margin-top: 0;
  font-size: 0.9 * $rem;
  font-weight: 700;
}
.comment-text {
  font-size: 50px;
}
