$white: #fff;
$shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.371);
$primary: rgb(92, 0, 40);
$page-bg: #fff3fc;
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
$font-bold: 500;

$rem: 16px;
