@each $br-name, $breakpoint in $grid-breakpoints {
  // @debug '----------' $br-name ':' $breakpoint;
  $infix: if($breakpoint == 0, "", "-#{$br-name}");
  @include media-up($breakpoint) {
    .pos#{$infix}-static {
      position: static;
    }
    .pos#{$infix}-relative {
      position: relative;
    }
    .pos#{$infix}-absolute {
      position: absolute;
    }
    .pos#{$infix}-sticky {
      position: sticky;
    }
    .pos#{$infix}-fixed {
      position: fixed;
    }

    @each $spacer-name, $spacer in $spacers {
      // @debug '--' $spacer-name ':' $spacer;
      .top#{$infix}-#{$spacer-name} {
        top: $spacer;
      }
      .right#{$infix}-#{$spacer-name} {
        right: $spacer;
      }
      .bottom#{$infix}-#{$spacer-name} {
        bottom: $spacer;
      }
      .left#{$infix}-#{$spacer-name} {
        left: $spacer;
      }
    }
  }
}
