.my-navbar {
  &--dark {
    .navbar-brand {
      color: $white;
    }
    .my-navbar__nav__item__link {
      color: $gray-500;
    }
  }
  &__nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    &__item {
      padding: 0.5rem;
    }
  }

  .my-collapse {
    width: 100%;
    display: flex;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .my-collapse.collapsed {
    overflow: hidden;
    height: 0;
  }

  .my-toggler {
    width: 40px;
    height: 40px;
    background: $gray-300;
  }
  .my-toggler.collapsed {
    &:after {
      content: "hide";
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
  }

  @each $br-name, $br in $grid-breakpoints {
    .container{
      padding-right: 0;
      padding-left: 0;
    }
    @if ($br-name != xs) {
      &--expand-#{$br-name} {
        @media (min-width: $br) {
          .container {
            flex-wrap: nowrap;
          }

          .my-toggler {
            display: none;
          }

          .my-collapse.collapsed {
            overflow: auto;
            height: auto;
          }

          .my-collapse {
            .my-navbar__nav {
              flex-direction: row;
              width: auto;
            }
          }
        }
      }
    }
  }
}
