// Spacing
$rem: 16px;



// Colors
$warning: #fad500;
$info: #01396a;
$dark-transparent: #343a40a2;
$dark-light: #666464;
$light-dark: #c0c0c0;

$theme-colors: (
  "dark-transparent" : $dark-transparent,
  "dark-light" : $dark-light,
  "light-dark" : $light-dark
);

// breakpoints 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
); 
